{% extends 'index.html' %}
{% block atendimento %}
{% endblock atendimento %}
{% block content%}
<h1 style="margin-left: 50px;">Editar Compra</h1>

<form class="pure-form pure-form-aligned">
        <div class="pure-control-group">
          <label >Criado em:</label>
          <input type="text" class="form-control" placeholder="{{model.create_at|date:'d-m-Y'}}" disabled style="width: 120px;">
        </div>
</form>

    <form class="pure-form pure-form-aligned" method="POST" >
    {% csrf_token %}
        <fieldset>
            <div class="pure-control-group">
            {{ form.as_p }}
            </div>
    </form>
    <div class="pure-control-group" style="margin-left: 70px;">
    <button type='submit' class="btn btn-success btn-icon-split" >
        <span class="icon text-white-50">
            <i class="fas fa-check"></i>
        </span>
        <span class="text">Salvar</span>
    </button>
    </div>
{% endblock %}