{% extends 'index.html' %}
{% block atendimento %}
{% endblock atendimento %}
{% block content%}
<div class="container-fluid">
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Listagem de Equipamentos</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
          <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Modelo</th>
              <th>Serial</th>
              <th>Patrimonio</th>
              <th>Loja</th>
              <th>Backup</th>
              <th>Quantidade</th>              
          </tr>
      </thead>
          
      <tbody>
      {% for estoque in estoque %}
          <tr>
              <td>{{ estoque.pk }}</td>
              <td>{{ estoque.name }}</td>
              <td>{{ estoque.modelo }}</td>
              <td>{{ estoque.serial }}</td>
                  {% if estoque.patrimonio is NULL  %}
                    <td>Inexistente</td>
                  {% else %}
                    <td>{{ estoque.patrimonio}}</td>
                  {% endif %}                        
                  <td>{{ estoque.loja }}</td>
                      {% if estoque.backup == True  %}
                      <td>Sim</td>
                      {% else %}
                      <td>Não</td>
                      {% endif %}
              <td>{{ estoque.qtd }}</td>
              </tr>                    
      {% endfor %}                   
              </tbody>

              </table> 
              </div>

{% endblock %}