{% extends 'index.html' %}

{% block head %}

{% endblock head%}

{% block content%}
 <h1 id="conteudo"></h1>
{% endblock %}

{% block js %}
 <script>
    $(document).ready(function() {
        function getData() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8000/ajax/notas_travadas_mysql/",
                dataType: "json",
                beforeSend: function() {$("#conteudo").empty();$("#conteudo").append("Carregando");}                    
            }).done(function(data) {
                $("#conteudo").empty();         
                $("#conteudo").append(data);
            });
        }
        getData();
        setInterval(getData, 1000);
    });

</script>

{% endblock %}

