<html>
<head>
<meta charset="UTF-8">
<title>{{titulo}}</title>
<style>
	@page {
    size: letter landscape;
    margin: 0.5cm;
}
</style>
</head>
<body>
<p>{{dtgeracao}}</p>
<hr />
<p>
	<strong>Relat&oacute;rio de chamado por data</strong><br />Inicio: {{dtinicial}}<br />Fim:{{dtfinal}}<br />
	Total: {{total_geral}}<br />
	{% for i in totais %}
	<strong>
	{{i}}
	</strong>
	<br />
	{% endfor %}
</p>
<p>&nbsp;</p>

<table align="left" border="1" cellpadding="3" cellspacing="40" style="width:700px">
	<thead>
		<tr>
			<th scope="col">
			<h3>Chamado</h3>
			</th>
			<th scope="col">
			<h3>Modelo</h3>
			</th>
			<th scope="col">
			<h3>Serial</h3>
			</th>
			<th scope="col">
			<h3>Patrimonio</h3>
			</th>
			<th scope="col">
			<h3>Filial</h3>
			</th>
			<th scope="col">
			<h3>Defeito</h3>
			</th>
			<th scope="col">
			<h3>Valor</h3>
			</th>
			<th scope="col">
			<h3>Status</h3>
			</th>
		</tr>
	</thead>
	<tbody>	
		{% for product in equipamento %}
		{% for i in chamado %}
		
			<tr>
			<td>{{i.chamado}}</td>
			<td>{{i.modelo}}</td>
			<td>{{i.serial}}</td>
			<td>{{product.patrimonio}}</td>
			<td>{{i.loja}}</td>
			<td>{{i.defeito}}</td>
			<td>{{i.valor}}</td>
			<td>{{i.chamado_verbose}} </td>
					
			</tr>
		{% endfor %}
		{% endfor %}
		
	</tbody>
</table>
<p>&nbsp;</p>
</body>

</html> 