{% extends 'index.html' %}

{% block atendimento %}
{% endblock atendimento %}

{% block content%}
<div class="container-fluid">
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">IPs | Camara Fria</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
          <tr>
              <th>Filial</th>
              <th>Ip Interno</th>
              <th>Porta Interna</th>
              <th>Ip Externo</th>
              <th>Porta Externa</th>
              <th>Online?</th>  
              {% if staff == True %}
              <th>Editar</th>
              {% endif %}     
          </tr>
      </thead>
          
      <tbody>
      {% for chamado in chamado %}
          <tr>
              <td>{{ chamado.filial }}</td>
              <td>{{ chamado.ip_interno}}</td>
              <td>{{ chamado.porta_interna }}</td>
              <td>{{ chamado.ip_externo }}</td>
              <td>{{ chamado.porta_externa }}</td>
              {% if chamado.status_online == 'S' %}
              <td>Sim</td>
              {% else %}
              <td>Nao</td>
              {% endif %}
              {% if staff == True %}
              <td> 
              <!-- inicio excluir item-->              
              <a href="{% url 'base:update_camara_fria' pk=chamado.pk %}" class="btn btn-warning btn-circle btn-sm">
              <i class="fas fa-exclamation-triangle"></i>
              <!-- final excluir item-->
              </td>
              {% endif %}
      {% endfor %}                   
              </tbody>

              </table> 
              </div>

{% endblock %}