{% extends 'index.html' %}

{% block atendimento %}
{% endblock atendimento %}

{% block content%}
<div class="container-fluid">
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Controle de Férias</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
          <tr>
              <th>Filial</th>
              <th>Colaborador</th>
              <th>Mes</th>
              <th>Ano</th>
              <th>Inicio</th> 
              <th>Fim</th> 
              <th>Dias</th>     
              <th>13°</th>
              {% if staff == True %}
              <th>Editar</th>
              {% endif %}         
          </tr>
      </thead>
          
      <tbody>
      {% for chamado in chamado %}
          <tr>
              <td>{{ chamado.filial }}</td>
              <td>{{ chamado.colaborador}}</td>
              <td>{{ chamado.mes }}</td>
              <td>{{ chamado.ano }}</td>
              <td>{{ chamado.inicio }}</td>
              <td>{{ chamado.termino }}</td>
              <td>{{ chamado.dias }}</td>
              {% if chamado.decimo_terceiro == 'S' %}
              <td>Sim</td>
              {% else %}
              <td>Nao</td>
              {% endif %}
              {% if staff == True %}
              <td> 
              <!-- inicio excluir item-->              
              <a href="{% url 'base:update_ferias' pk=chamado.pk %}" class="btn btn-warning btn-circle btn-sm">
              <i class="fas fa-exclamation-triangle"></i>
              <!-- final excluir item-->
              </td>
              {% endif %}
      {% endfor %}                   
              </tbody>

              </table> 
              </div>

{% endblock %}