{% extends 'index.html' %}

{% block atendimento %}
{% endblock atendimento %}

{% block content%}
<div class="container-fluid">
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Datas de inauguracao das filiais</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
      <thead>
          <tr>
              <th>Num Filial</th>
              <th>Nome</th>
              <th>Inauguracao</th>
          </tr>
      </thead>
          
      <tbody>
      {% for chamado in chamado %}
          <tr>
              <td>{{ chamado.cod_filial }}</td>
              <td>{{ chamado.loja}}</td>
              <td>{{ chamado.inauguracao }}</td>
      {% endfor %}                   
              </tbody>

              </table> 
              </div>

{% endblock %}