{% extends 'index.html' %}
{% block atendimento %}
{% endblock atendimento %}
{% block content%}
<div class="container-fluid">
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Listagem de Atendimentos</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
          <tr>
            <th>Data</th>
            <th>Problema</th>
            <th>Solução</th>
            <th>Setor</th>              
            <th>Loja</th>
            <th>Técnico</th>            
            <th>ID</th>

              
          </tr>
      </thead>
          
      <tbody>
        {% for envio in envio %}
        <tr>
        <td>{{ envio.create_at|date:"d-m-Y" }}</td>
        <td >{{ envio.problema|truncatechars:50 }}</td>
        <td>{{ envio.solucao|truncatechars:50 }}</td>              
        <td>{{ envio.setor }}</td> 
        <td>{{ envio.loja }}</td> 
        <td>{{ envio.user.first_name }}</td>
          <td>{{envio.id}}</td>
        </tr  >
        {% endfor %}  
        
              </tbody>

              </table> 
              </div>

{% endblock %}