{% extends 'index.html' %}

{% block atendimento %}
{% endblock atendimento %}

{% block content%}
<div class="container-fluid">
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Listagem de Centrais Telefonicas</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
          <tr>
              <th>Modelo</th>
              <th>IP</th>
              <th>Ramais</th>
              <th>Ramais Utilizados</th>
              <th>Data ult. Preventiva</th> 
              <th>Filial</th> 
              <th>Editar</th> 
              {% if staff == True %}
              <th>Excluir</th>
              {% endif %}        
          </tr>
      </thead>
          
      <tbody>
      {% for chamado in chamado %}
          <tr>
              <td>{{ chamado.modelo }}</td>
              <td>{{ chamado.end_ip}}</td>
              <td>{{ chamado.qtd_ramais }}</td>
              <td>{{ chamado.qtd_ramais_utilizados }}</td>
              <td>{{ chamado.dt_ult_preventiva }}</td>
              <td>{{ chamado.filial }}</td>              
              <td>
              <a href="{% url 'base:update_central_telefonica' pk=chamado.pk %}" class="btn btn-warning btn-circle btn-sm">
              <i class="fas fa-exclamation-triangle"></i>
              </a>                               
              </td>
              {% if staff == True %}
              <td> 
              <!-- inicio excluir item-->              
              <a href="{% url 'base:delete_central_telefonica' pk=chamado.pk %}"
              <i class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></i></a>
              <!-- final excluir item-->
              </td>
              {% endif %}
      {% endfor %}                   
              </tbody>

              </table> 
              </div>

{% endblock %}