{% extends 'index.html' %}
{% load static %}
{% block atendimento %}
{% endblock atendimento %}
{% block head %}
{{ formset.media.css }}
{% endblock head %}

{% block content%}
<div class='row' style="margin-left: 10px">
    {% if messages %}{% for mensagem in messages %}
    <a href="#" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-check"></i>
        </span>
        <span class="text">{{mensagem}}</span>
        </a>
    {% endfor %}
    {% endif %}
</div>
            <h2 style="margin-left: 30px"> Envio de equipamentos </h2>
            <form id="post-form" class="pure-form pure-form" method="POST" style="margin-left: 10px" >
                {% csrf_token %}
                <div class="pure-control-group">
                {{ form.as_p }}
                </div>
                
            <hr></hr>

                <div id="order" class="pure-form pure-form" >
                    {% for item_order_form in formset %}
                        <div id="item-{{ forloop.counter0 }}" class="pure-control-group" style="margin-top: 10px" >

                            {{ item_order_form.label }}
                            {{ item_order_form }}
                        </div>
                    {% endfor %}
                </div>

                <div class="pure-control-group" style="margin-top: 10px" >
                <a class="btn btn-light" id="add-item"><i class="fa fa-plus"></i> Add Item</a>
                    <button  class="btn btn-primary pull-right" value="Save"><i class="fa fa-floppy-o"></i> Salvar</button>
                </div>
            </form>
    </div>    




    <script type="text/html" id="item-order">
        <div id="item-__prefix__"  >
            <hr>
                {{ formset.as_p }}
        </div>
    </script>

{% endblock %}


{% block js %}

<script>
    $(function() {


    // Submit post on submit
    $('#post-form').on('submit', function(event){
        event.preventDefault();
        //console.log( $( this ).serializeArray());
        data = $( this ).serializeArray();
        console.log("form submitted!")  // sanity check
        create_post();
    });

    // AJAX for posting
    function create_post() {
        console.log("create post is working!") // sanity check
        $.ajax({
            url : "{% url 'envios:cadastro'%}", // the endpoint
            type : "POST", // http method
            data : data, // data sent with the post request
            // handle a successful response
            success : function(json) {
                $('#id_filial_origem').val('')
                $('#id_filial_destino').val(''),
                $('#id_num_nota').val(''),
                $('#id_num_ficha_transf').val(''),
                $.notify("EQUIPAMENTOS ENVIADOS COM SUCESSO!", "success");
                $("#talk").prepend("<li><strong>"+json.text+"</strong> - <em> "+json.author+"</em> - <span> "+json.created+
                    "</span> - <a id='delete-post-"+json.postpk+"'>delete me</a></li>");
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $.notify("Error! Valide os campos e envie novamente!", "error");
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    };


    // This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    /*
    The functions below will create a header with csrftoken
    */

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

});
</script>

<script>
        $(document).ready(function(){
            $("#add-item").click(function(ev) {
                ev.preventDefault();
                var count = $('#order').children().length;
                var tmplMarkup = $("#item-order").html();
                var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
                $("div#order").append(compiledTmpl);

                // update form count
                $('#id_product-TOTAL_FORMS').attr('value', count + 1);

                // some animate to scroll to view our new form
                $('html, body').animate({
                    scrollTop: $("#add-item").position().top-200
                }, 800);
            });
        });
</script>
{{ formset.media.js }}


{% endblock js %}

