{% extends 'index.html' %}
{% block atendimento %}
{% endblock atendimento %}
{% block content%}
<div class="container-fluid">
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Listagem de Envios</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
          <tr>
              <th>Data</th>
              <th>Filial Origem</th>
              <th>Filial Desitno</th>
              <th>Usuario</th>              
          </tr>
      </thead>
          
      <tbody>
      {% for envio in envio %}
          <tr>
              <td>{{ envio.create_at }}</td>
              <td>{{ envio.filial_origem }}</td>
              <td>{{ envio.filial_destino }}</td>              
              <td>{{ envio.user }}</td> 
              </tr>                    
      {% endfor %}                   
              </tbody>

              </table> 
              </div>
                
{% endblock %}