{% extends 'index.html' %}
{% block atendimento %}
{% endblock atendimento %}
{% block content%}
    <h1>Relatório por Data</h1>
    {{ form.non_field_errors }}
    <form class="pure-form pure-form-aligned" method="POST" target="_blank" >
    {% csrf_token %}
    {% for field in form %}    
    <div class="pure-control-group">
    {{ field.errors }}
    {{ field.label_tag }} {{ field }}    
    </div>    
    {% endfor %}
    <div class=pure-control-group>
        <button type='submit' id="btn-form-submit" class="btn btn-success btn-icon-split" >
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">Gerar!</span>
        </button>
        </div>  
{% endblock %}
{% block js %}

{% endblock js %}