<!DOCTYPE html>
{% load static%}
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Vinicius Alexandre" content="">
  
    <title>Help Desk </title>
  
  
    <link rel="icon" href="{% static 'img/fav.png' %}" type="image/png">
    <script src="{% static 'js/count-up.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <!-- bootstrap4 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/popper.min.js' %}" ></script>
    <script src="{% static 'js/jquery.mask.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
    <!-- Custom fonts for this template-->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.4.1.js' %}" ></script>
    <script src="{% static 'js/vue.js' %}" ></script>
    <script src="https://unpkg.com/vue-toasted"></script>
    <link href="{% static "css/pure-min.css" %}" rel="stylesheet">
  
    <script src="{% static 'js/axios.min.js' %}"></script>
  
    <!--<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">-->
    <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="{% static "js/datepicker.min.css" %}" />
  <script src="{% static 'js/datepicker.min.js' %}"></script>
  
    <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet">
  </head>

<body id="page-top">
  <div id="app">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url "core:homepage"%}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-mug-hot"></i>
        </div>
        <div class="sidebar-brand-text mx-3">CPD - Hotswap <sup></sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Heading -->
      <div class="sidebar-heading">
        CHAMADOS
      </div>
            
      <li class="nav-item">
        <a class="nav-link" v-on:click="novo">
          <i class="fas fa-arrow-up"></i>
          <span>Novo</span></a>
      </li>
       
      <li class="nav-item">
        <a class="nav-link" v-on:click="pendente">
          <i class="fas fa-exclamation-triangle"></i>
          <span>Pendente</span></a>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" v-on:click="cancelado">
          <i class="fas fa-trash"></i>
          <span>Cancelados/Devolvidos</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" v-on:click="concluido">
          <i class="fas fa-check"></i>
          <span>Concluidos</span></a>
      </li>

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <span>SETOR </span>: {{ usuario.setor }} - 
            LOJA : {{ usuario.loja}}
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
                </button>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
      
                  <div class="topbar-divider d-none d-sm-block"></div>
       
                  <!-- Nav Item - User Information -->
                  <li class="nav-item dropdown no-arrow">
                    
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                      <!-- FOTO DA PESSOA LOGADA-->
                      <i class="fas fa-user-circle"></i>
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">                
                      <a class="dropdown-item" href="{% url 'core:logout'%}" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                      </a>
                      <a class="dropdown-item" href="{% url 'core:change_password' %}">
                        <i class="fas fa-unlock-alt text-gray-400"></i>
                         Alterar Senha
                      </a>
                    </div>
                  </li>
      
                </ul>
      
              </nav>

              <!-- CARDS  -->
              <div class="row justify-content-md-center" >
              <div class="col-lg-12">

                <div class="card-body">
                  <div class="row" style="margin-left: 10px;">
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <a class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pendentes</a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ quantidade.pendente }}</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <a class="text-xs font-weight-bold text-success text-uppercase mb-1">Concluidos</a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ quantidade.concluido }}</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa- fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <a class="text-xs font-weight-bold text-danger text-uppercase mb-1">Cancelados</a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ quantidade.cancelados }}</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-arrow fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  
                </div>       
                </div>
              </div>          
      
              </div>
          <div class="row justify-content-md-center" v-if="concluidoShow">
            <div class="col-lg-12">
                  <div class="card-body">
                      <table class="table">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Problema</th>
                            <th scope="col">Solução</th>
                            <th scope="col">Solicitado por</th>
                            <th scope="col">Finalizado por</th>
                            <th scope="col">Setor</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="x in listConcluido" v-on:key="x.id">
                            <th scope="row">[x.id]</th>
                            <td>[x.problema]</td>
                            <td>[x.solucao]</td>
                            <td>[x.solicitante]</td>
                            <td>[x.user_finaliza]</td>
                            <td>[x.setor]</td>
                          </tr>
                        </tbody>
                      </table>
      
                  </div>
                </div>
            </div>
          <div class="row justify-content-md-center" v-if="semDados">
            <div class="col-lg-12">
                  <div class="card-body">
                      SEM DADOS PARA ESSA OPÇÃO.
                  </div>
                </div>
            </div>
      
      
          <div class="row justify-content-md-center" v-if="novoChamado">
          <div class="col-lg-12">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">NOVO CHAMADO</h6>
                </div>
                <div class="card-body">
                  <div class="form-group row" v-if="novoChamado">
                    <textarea type="text-area" v-model="issue" placeholder="Problema" class="form-control form-control-user" rows="5" cols="33">
                    </textarea>
                    <input type="text" placeholder="Solicitante" v-model="solicitante" class="form-control form-control-user" >
                    <button v-on:click="submita" class="btn btn-success btn-icon-split" v-on:click="concluido" style="margin-top: 10px;">
                      <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="text">Enviar!</span>
                    </button>
                    
                  </div>
                </div>
              </div>
              </div>
          </div>
    
      <div hidden id="id">{{usuario.id}}</div>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sair da conta</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Deseja realmente sair?</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="{% url 'core:logout'%}">Sair</a>
        </div>
      </div>
    </div>
  </div>

   {% block js %}{% endblock js %}
  </div>
  </div>
</body>

<script src="{% static "js/helpdesk.js" %}">
  Vue.use(Toasted)
</script>
        <!-- scripts -->
        

  <!-- Bootstrap core JavaScript-->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static "js/sb-admin-2.min.js" %}"></script>

  <!-- Page level plugins -->
  <script src="{% static "vendor/chart.js/Chart.min.js" %}"></script>

  <script src="{% static "js/notify.js" %}"></script>

<style>
    .header{
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .btn {
        margin-right: 20px;
    }
</style>

</html>
