<html>
<head>
	<meta charset="UTF-8">
	<title>{{titulo}}</title>
	<style>
		@page {
		size: letter landscape;
		margin: 1cm;
	}
	</style>
	</head>
	<body>
	<p>{{dtgeracao}}</p>
	<hr />
	<p><strong>Relat&oacute;rio de atendimento por setor específico</strong><br />Inicio: {{dtinicial}}<br />Fim:{{dtfinal}}<br />
	Usuário: {{usuario}}<br />
	</p>
<p>&nbsp;</p>

<table align="center" border="1" cellpadding="3" cellspacing="3" style="width:700px">
	<thead>
		<tr>
			<th scope="col">
			<h3>Data</h3>
			</th>
			<th scope="col">
			<h3>Problema</h3>
			</th>
			<th scope="col">
			<h3>Solução</h3>
			</th>
			<th scope="col">
			<h3>Setor</h3>
			</th>
			<th scope="col">
				<h3>Loja</h3>
			</th>
			<th scope="col">
				<h3>Solicitante</h3>
			</th>
			<th scope="col">
				<h3>Aberto por:</h3>
			</th>
			<th scope="col">
				<h3>Finalizado por:</h3>
			</th>
		</tr>
	</thead>
	<tbody>		
		{% for i in atendimento %}
			<tr>
			<td>{{i.create_at|date:"d-M-Y"}}</td>
			<td>{{i.problema}}</td>
			<td>{{i.solucao}}</td>
			<td>{{i.setor}}</td>
			<td>{{i.loja}}</td>
			<td>{{i.solicitante}}</td>
			<td>{{i.user}}</td>
			{%if i.user_finaliza == NULL %}
				<td>-</td>
			{%else%}
				<td>{{i.user_finaliza}}</td>
			{%endif%}
				</tr>
			{% endfor %}		
	</tbody>
</table>

<p>&nbsp;</p>
</body>

</html> 
